:root {
  --font-family-primary: "Montserrat", sans-serif;
  color: #ffffff;
  background: #061629;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}
html,
body,
button,
input,
textarea,
select {
  font-family: var(--font-family-primary);
}